<form>
<label>Title:</label> <!-- This will be dynamic depending on question for poll -->
  {{input type='text' value=model.name placeholder="i.e: Wynsuperlatives"}}
    {{#each questions as |question|}}
      {{question-builder  question=question}}
    {{/each}}
  <button type='submit'  {{action 'createPoll' on='submit'}}>Create Poll</button>
    <button {{action 'appendQuestion'}}>Add Question</button>

</form>
